services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: unless-stopped
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: matuabom

  be:
    image: 774023531956.dkr.ecr.ap-northeast-2.amazonaws.com/matuabom-be:latest
    container_name: be
    restart: unless-stopped
    depends_on:
      - mongo
    environment:
      # 몽고 연결 정보 (Spring application-prod.yml 에서 사용)
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/matuabom
      # JWT, Kakao, Google 관련 환경변수들
      JWT_SECRET: ${JWT_SECRET}
      KAKAO_CLIENT_ID: ${KAKAO_CLIENT_ID}
      KAKAO_CLIENT_SECRET: ${KAKAO_CLIENT_SECRET}
      KAKAO_REDIRECT_URI: http://matuabom.store:8080/login/oauth2/code/kakao
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      GOOGLE_REDIRECT_URI: http://matuabom.store:8080/login/oauth2/code/google

      # CORS 등에서 사용할 FE 주소(배포 후 도메인으로 교체)
      FRONTEND_ORIGIN: https://matuabom.store
    ports:
      - '8080:8080'

  fe:
    image: 774023531956.dkr.ecr.ap-northeast-2.amazonaws.com/matuabom-fe:latest
    container_name: fe
    restart: unless-stopped
    depends_on:
      - be
    environment:
    ports:
      - '3000:3000'
  nginx:
    image: nginx:1.27
    container_name: nginx
    restart: unless-stopped
    depends_on:
      - fe
      - be
    ports:
      - "80:80"
      - "443:443"
    volumes:
      # nginx 설정 파일
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      # 인증서 (EC2 호스트의 certbot 경로 기준 예시)
      - /etc/letsencrypt:/etc/letsencrypt:ro

volumes:
  mongo_data:
